# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/

# MacOS
.DS_Store

# VSCode
*.code-workspace
.vscode/

# Zed
.zed/*

# Chainlit
.chainlit*

# Claude Code
CLAUDE.md

# Aider
.aider*

# Testing
logs/tutor/johndoe*
logs/tutor/anonymous*
.files/*
examples/test-*
examples/generated-exercises/*

# Files
assets/pdfs/*
assets/markdown/*
assets/ignore/*
